<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/tytle.css" />
  </head>
  <body>
    <h1>Hello World whith ejs</h1>
    <img class="imgTest" src="/images/oto.jpg" alt="oto" />
    <button><a href="/abc">Home</a></button>
  </body>
</html>
